@font-face{
	font-family: 'Press Start 2P';
	font-style:  normal;
	font-weight: normal;
	src:  local('press-start-2p-v12-latin-regular'), url('./press-start-2p-v12-latin-regular.woff') format('woff');
}

h1 {
	font-family: 'Press Start 2P';
	font-weight: 600;
	color: #43cea2;
}